#map{
    height: 500px;
    margin: 10px;
}

body main {
    text-align: center;
    background-color: #e8c8f0;
    margin:0;
    height: 100vh;
}

body{
    margin:0;
}

body main h2{
    font-size: 2em;
}

body main h2,
body main p {
    
    margin:0;
    padding: 10px;
}